.container_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    rotate: 50deg;
}

.triangleOrange {
    position: relative;
    bottom: -100px;
    left: -200px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 125px 216.5px 125px;
    border-color: transparent transparent #fb923c transparent;
    transition: transform 0.5s ease;
    rotate: 180deg;
    overflow: hidden;
}

.trianglePurple {
    position: relative;
    bottom: 50px;
    left: -200px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 125px 216.5px 125px;
    border-color: transparent transparent #8774e1 transparent;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.trianglePurple:hover,
.triangleOrange:hover
{
    transform: rotate(180deg);
    
}

/* Define unique styles for each grid item if needed */
.layer {
    grid-column: 1;
    grid-row: 1;
    
}

.layer2 {
    grid-column: 2;
    grid-row: 2;
    
}