.ElementTile {
    /* Your existing styles here */
    transition: transform 0.2s !important;
    border: 10px solid rgb(255, 0, 0) !important;
}

.ElementTile:hover {
    transform: scale(1.1) !important;
    /* Enlarge the element by 10% on hover */
}

.flex {
    border: 10px solid rgb(255, 0, 0) !important;
}