@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid rgb(255, 0, 0);
} */

:root[data-theme="light"] {
  --radius-big: 40px;
  --radius-small: 20px;
  --fnbg-purple: #303030;
  --fnbg-orange: #303030;
  --fnbg-body: #eee3ff;
  --fnbg-accent: #c5bcf3;
  --fnbg-text: #303030;
}

:root[data-theme="dark"] {
  --radius-big: 0;
  --radius-small: 0;
  /* --fnbg-purple: #8774e1; */
  --fnbg-purple: #8b7bdd;
  --fnbg-orange: #fb923c;
  --fnbg-body: #404040;
  --fnbg-accent: #222222;
  --fnbg-text: #bcbcff;
}

:root[data-theme="light"] .dark,
:root[data-theme="dark"] .light {
  display: none;
}

*:hover,
#logo,
#project {
  transition: all 0.5s ease;
}

#logo:hover,
a:hover,
button:hover {
  transform: scale(1.08) !important;
}

/* Text */
body {
  background-color: var(--fnbg-body);
}

p {
  color: var(--fnbg-text);
}

::selection {
  color: var(--fnbg-body);
  background: var(--fnbg-orange);
}

/* Logo */
svg > line {
  stroke: var(--fnbg-purple);
  fill: var(--fnbg-purple);
  color: var(--fnbg-purple);
}
[lang-icon] svg > path {
  fill: var(--fnbg-purple);
}

#sun > path,
#moon > path {
  fill: var(--fnbg-purple);
  color: var(--fnbg-purple);
  stroke: var(--fnbg-purple);
}

/** Ab hier ist old fnbg.css*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-size: 14px;
  color: var(--fnbg-purple) !important;
}

Link,
a {
  font-weight: bold;
}

label {
  max-width: 100%;
  color: var(--fnbg-orange);
}

img:not(#logo) {
  border-radius: var(--radius-big);
}

nav,
section,
footer {
  background-color: var(--fnbg-accent);
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.2);
}

input,
select,
textarea {
  background-color: var(--fnbg-accent);
  border-color: var(--fnbg-accent);
  caret-color: var(--cursor);
  color: var(--cursor);
  border-radius: var(--radius-small);
}
