@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid rgb(255, 0, 0);
} */

:root[data-theme="light"] {
  --fnbg-text-opacity: 1;
  --radius-big: 40px;
  --radius-small: 20px;
  --fnbg-purple: #303030;
  --fnbg-orange: #303030;
  --bg-body: #eee3ff;
  --bg-accent: #c5bcf3;
}
body {
  background-color: var(--fnbg-orange);
}

:root[data-theme="dark"] {
  --fnbg-text-opacity: 1;
  --radius-big: 0;
  --radius-small: 0;
  --fnbg-purple: #8774e1;
  /* --fnbg-orange: #fb923c; */
  --fnbg-orange: #e0e0e0;
  --bg-body: #363636;
  --bg-accent: #222222;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root[data-theme="light"] .dark {
  display: none;
}

:root[data-theme="dark"] .light {
  display: none;
}

*:hover,
#logo,
#project {
  transition: all 0.25s ease;
}

/**Text*/

body {
  background-color: var(--bg-body);
  overflow-x: hidden;
}

main {
  /*background-color: var(--bg-main);*/
  position: relative;
  overflow: hidden;
}

.outline {
  box-sizing: border-box;
  outline: 1px solid var(--fnbg-purple) !important;
}

.spacer {
  padding-top: 50px;
  padding-bottom: 50px;
}

svg > line {
  stroke: var(--fnbg-purple);
  fill: var(--fnbg-purple);
  color: var(--fnbg-purple);
}

#sun > path,
#moon > path {
  fill: var(--fnbg-purple);
  color: var(--fnbg-purple);
  stroke: var(--fnbg-purple);
}

/** Ab hier ist old fnbg.css*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Button */
.btn {
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-small);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--fnbg-orange);
}

.btn:hover {
  color: #909090;
  background-color: var(--bg-accent);
  border-color: var(--bg-accent);
}

a {
  font-size: 14px;
  color: var(--fnbg-purple) !important;
}

footer {
  color: var(--fnbg-purple);
}

.symbol {
  font-size: 200px;
}

p,
label {
  max-width: 100%;
  color: var(--fnbg-orange);
}

a,
button {
  font-weight: bold;
  letter-spacing: 1.5px;
  color: var(--text-orange);
}

img:not(#logo) {
  border-radius: var(--radius-big);
}

h1 {
  color: var(--fnbg-purple);
  font-weight: 700;
}

h2 {
  color: var(--fnbg-purple);
}

h3 {
  color: var(--fnbg-orange);
}

nav,
section,
footer {
  background-color: var(--bg-accent);
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.2);
}

input,
select,
textarea {
  background-color: var(--bg-accent);
  border-color: var(--bg-accent);
  caret-color: var(--cursor);
  color: var(--cursor);
  border-radius: var(--radius-small);
}

#logo:hover,
a:hover,
button:hover {
  transform: scale(1.08) !important;
}
