.blurred {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 5;
  cursor: auto;
}

.popup {
  background-color: var(--fnbg-body);
  padding: 20px;
  border-radius: 5px;
  text-align: start;
}

.elementText {
  padding-left: 1rem;
}

.elementCategory {
  
}